{% extends 'base.html' %}

{% block title %}Eliminar {{ personaje.nombre }} - DungeonLedger{% endblock %}

{% block content %}

    <h1>Confirmar Eliminación</h1>
    
    <p>¿Estás seguro de que quieres eliminar el personaje <strong>{{ personaje.nombre }}</strong>?</p>
    
    <p><strong>Advertencia:</strong> Esta acción no se puede deshacer. Se eliminarán también todos los objetos de su inventario.</p>
    
    <form method="post">
        {% csrf_token %}
        <button type="submit">Sí, eliminar personaje</button>
        <a href="{% url 'juego:personaje-detalle' personaje.pk %}">No, cancelar</a>
    </form>
{% endblock %}